* {
    margin: 0;
    padding: 0;
}

@-ms-viewport {
    width: device-width;
    height: device-height;
}

body {
    background-color: rgb(82, 81, 80);
    overflow: hidden;
}

.flex {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.botoncito {
    width: 7vh;
    /*50px;*/
    height: 7vh;
    /*50px;*/
    font-weight: 600;
}

.check{
    width: 15px;
    height: 15px;
    position: relative;
    /*float: left;*/
    outline: 2px solid black;
    margin-right: 5px;
    top: 30%;
    left: 8%
}

.textCheck{
    font-size: 14px;
    color: #ddd;
    font-weight: 600;
    top:22%;
    position: relative;
    left: 10%
}


#Left {
    transform: translate(-175%, 100%) rotate(-90deg);
}

#Right {
    transform: translate(75%, 100%) rotate(90deg);
}

#Up {
    transform: translate(-50%);
}

#Down {
    transform: translate(-50%, 200%) rotate(180deg);
}

.flechita {
    top: 27vh;
    position: absolute;
    left: 50%;
    background-position: center;
    background-image: url("https://www.pngkit.com/png/full/17-173987_open-black-arrow-png.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 8vh;
    /*45px;*/
    height: 7vh;
    /*45px;*/
}

.barra {
    width: 30vw;
    height: 6vh;
    /*38.64;*/
    left: 50%;
    font-weight: 600;
}
#voldown{
    background-image: url("https://visualpharm.com/assets/317/Low Volume-595b40b85ba036ed117dc9a0.svg");
}
.image{
    background-position: center;
    background-image: url("https://visualpharm.com/assets/710/High%20Volume-595b40b85ba036ed117dc9a1.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#container{
    height: calc(7vh - 6px);
    width: calc(( 100vw - 6 * 7vh ) / 7 + 14vh - 6px);
    border: solid black 0px;
}
#mouse{
    height: 33vh;
    width: 33vh;
    top: 53vh;
    position: absolute;
    border: solid black 0.1vh;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
}
#joystick{
    height: 11vh;
    width: 11vh;
    top: 64vh;
    left: calc(50vw - 5.5vh);
    position: absolute;
    border-radius: 50%;
    /* background: rgb(192, 192, 192); */
    background-image: radial-gradient(rgb(214, 214, 214),rgb(102, 102, 102));
}


